.suite-module {
	margin: 0;
	float: left;
	
	&.xlarge {
		width: 100%;
	}
	&.large {
		width: 80%;
	}
	&.medium {
		width: 50%;
		
		.interactive-box {
			height: 400px - (2*$box-margin);
		}
	}
	&.small {
		width: 33%;
	}
	&.xsmall {
		width: 20%;
	}
}

.interactive-box, .data-box {
		margin: $box-margin;
	}

.interactive-box {
	border: solid 5px $interactive-box-border-color;
	
	padding: 0 (2*$box-margin);
	
	> h1 {
		font-weight: bold;
		color: $strategi-color;
	}
}

.fun-fact-box {
	float: none;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	
	.interactive-box {
		border-color: $strategi-color;
	}
}

.data-box {
	padding-top: 5px; // Solves collapsing margins
	background: $data-box-bg-color;
}