// Fonts
$font-family: "jaf-bernino-sans-condensed", Sans-Serif;

// Colors
$body-color: white;
$frame-header-color: black;

$data-box-bg-color: #d9d9d9;
$interactive-box-bg-color: white;
$interactive-box-border-color: #7d7d7d;

$module-text-color: #9c9c9b;
$separator-color: #efefef;

$good-color: #708e50;
$warning-color: #d29628;
$danger-color: #ac4139;

$gold-color: #f5a623;

$pie-chart-blue: #29abe2;
$pie-chart-red: #d94b29;
$pie-chart-green: #69b448;
$pie-chart-white: #999999;

$strategi-color: #2eafa4;
$dialog-color: #7d7a7a;

// Dimensions
$header-height: 51px;
$box-margin: 10px;

// Other variables
$transition-speed: 500ms;


//Mixins
@mixin disable-user-select {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
